// COLORS
$primary-color: #c2ebd6;
$secondary-color: #3a3939;

$white-color: rgb(255, 255, 255);

$dark-grey: #4b9467;

$dark-blue-text: #3d956c; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
